#about
  %p
    The idea behind MyCommuteCost.info 100% came from Brandon Morgado, twitter.com/leadingzero. My idea was to try to replicate his site, commutecost.com, using Ruby, Sintra, HAML, and Sass. Plus, the domain only cost me $1.19 on godaddy.
  %p
    This site is open source, MIT license, and available on GitHub at github/topherjones/commuteprice/master.
  %p
    Contact me for any questions, comments, or just to yell at me.
  %br/
  Todo:
  %ul 
    %li Add last 10 prices in a javascript dropdown box below main content