%html
  %head
    %title commute price - how much does it cost you to commute?
    %link{:rel=>'stylesheet', :href=>'/style.css', :type => "text/css"}
  %body
    #container    
      #header
        #title commuteprice
        #top_menu
      #main
        #main_left
          &nbsp;
        #main_content
          &nbsp;
        #main_right
          &nbsp;
      #footer
        &copy;2009 Chris "I'll pimp your website in a heartbeat" Jones
