#left_pane
  %form#form{:onsubmit => "showDirections(this.origin.value,this.dest.value,this.mpg.value,this.ppg.value); return false" }
    %fieldset
      %label
        Origin:
        %br/
      %input#origin{:type => 'text', :name => 'origin', :value => params[:origin], :size => 26 }
    %fieldset
      %label
        Destination:
        %br/  
      %input#dest{:type => 'text', :name => 'dest', :value => params[:dest], :size => 26 }
    %fieldset
      %label
        Miles per Gallon:  
        %br/
      %input#mpg{:type => 'text', :name => 'mpg', :value => params[:mpg], :size => 5 }
    %fieldset
      %label 
        Price per Gallon: 
        %br/ 
      %input#ppg{:type => 'text', :name => 'ppg', :value => params[:ppg], :size => 5 }
    %fieldset
      %input#submit{:type => 'submit', :value => 'Calculate' }
  %br/
  %p
    %fieldset
      %label
        One Way Commute =
      #ammount
        #one_way
    %fieldset
      %label
        Round Trip Commute =
      #ammount
        #round_trip
    %fieldset
      %label
        Weekly Commute =
      #ammount
        #weekly
    %fieldset
      %label
        Monthly Commute =
      #ammount
        #monthly
#right_pane
  #map{:style => "width:450px;height:370px"}