body {
  text-align: center;
  margin: 0 auto;
  width: 930px;
  background: url("/images/background.jpg") repeat;
}
#container {
  width: 930px;
  text-align: left;
}
#header {
  height: 50px;
}
#main_left {
  background: url("/images/left_container.jpg") no-repeat;
  height: 492px;
  width: 61px;
  float: left;
}
#main_content {
  background: url("/images/vertical_container.jpg") repeat-x;
  height: 492px;
  width: 813px;
  float: left;
}
#main_right {
  background: url("/images/right_container.jpg") no-repeat;
  height: 492px;
  width: 56px;
  float: left;
}
#cleardiv {
  clear: both;
}
#footer {
  position: absolute;
  z-index: 1;
  width: 930px;
  margin-top: -50px;
}
#footer p {
  text-align: center;	
  color: white;
}
